
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 14px;
}
[class*="lines"] {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
[dir=rtl] .mr\:-15px { margin-right: initial }
[dir=rtl] .ml\:50px { margin-left: initial }
[dir=rtl] .ml\:-15px { margin-left: initial }
[dir=rtl] .ml\:10px { margin-left: initial }
[dir=rtl] .pr\:15px { padding-right: initial }
[dir=rtl] .pr\:56px { padding-right: initial }
[dir=rtl] .pl\:15px { padding-left: initial }
[dir=rtl] .r\:0 { right: initial }
.lines-4 { -webkit-line-clamp: 4 }
.bd\:2px_solid_red { border: 2px solid red }
.bdrs\:20px { border-radius: 20px }
.bdrs\:10px { border-radius: 10px }
.bgc\:rgba\(0\,0\,0\,0\.04\) { background-color: rgba(0,0,0,0.04) }
.bgc\:\#6257de { background-color: #6257de }
.bgc\:\#3c2fc9\|h:hover { background-color: #3c2fc9 }
.bgc\:\#eee { background-color: #eee }
.bgc\:\#000\|h:hover { background-color: #000 }
.bgc\:\#ccc { background-color: #ccc }
.bgz\:cover { background-size: cover }
.bgp\:center { background-position: center }
.bxsh\:none { box-shadow: none }
.c\:color-primary { color: var(--color-primary) }
.c\:\#f00 { color: #f00 }
.c\:rgba\(255\,255\,255\,0\.6\)\! { color: rgba(255,255,255,0.6) !important }
.c\:red\|hover\|after:hover:after { color: red }
.c\:red { color: red }
.c\:blue\|h:hover { color: blue }
.c\:\#000 { color: #000 }
.c\:\#fff { color: #fff }
.c\:\#fff\|hover:hover { color: #fff }
.c\:\#fff\|h:hover { color: #fff }
.c\:\#444 { color: #444 }
.cnt\:\(after\)\|af:after { content: 'after' }
.cnt\:\(after_hover\)\|hover\|af:hover:after { content: 'after hover' }
.d\:block { display: block }
.d\:flex { display: flex }
.d\:inline-block { display: inline-block }
.ai\:center { align-items: center }
.jc\:center { justify-content: center }
.jc\:flex-end { justify-content: flex-end }
.flw\:wrap { flex-wrap: wrap }
.fw\:600\! { font-weight: 600 !important }
.fw\:600 { font-weight: 600 }
.fz\:pfs\(20px\,60px\) { font-size: clamp(20px, 5vw + 0px, 60px) }
.fz\:20px { font-size: 20px }
.fz\:16px { font-size: 16px }
.fz\:pfs\(30px\,50px\) { font-size: clamp(30px, 2.5vw + 20px, 50px) }
.fz\:pfs\(18px\,24px\) { font-size: clamp(18px, 0.75vw + 15px, 24px) }
.fz\:15px { font-size: 15px }
.fz\:14px { font-size: 14px }
.fz\:18px { font-size: 18px }
.fz\:pfs\(14px\,16px\) { font-size: clamp(14px, 0.25vw + 13px, 16px) }
.fz\:13px { font-size: 13px }
.h\:46px { height: 46px }
.h\:1px { height: 1px }
.lts\:1px { letter-spacing: 1px }
.lh\:1\.5 { line-height: 1.5 }
.m\:auto { margin: auto }
.m\:0 { margin: 0 }
.mt\:20px { margin-top: 20px }
.mt\:-30px { margin-top: -30px }
.mt\:30px { margin-top: 30px }
.mt\:15px { margin-top: 15px }
.mt\:10px { margin-top: 10px }
.mr\:-15px { margin-right: -15px }
[dir=rtl] .mr\:-15px { margin-left: -15px }
.mb\:10px { margin-bottom: 10px }
.ml\:50px { margin-left: 50px }
[dir=rtl] .ml\:50px { margin-right: 50px }
.ml\:-15px { margin-left: -15px }
[dir=rtl] .ml\:-15px { margin-right: -15px }
.ml\:10px { margin-left: 10px }
[dir=rtl] .ml\:10px { margin-right: 10px }
.maw\:1200px { max-width: 1200px }
.o\:0 { outline: 0 }
.t\:0 { top: 0 }
.op\:0\.8 { opacity: 0.8 }
.ov\:hidden { overflow: hidden }
.p\:10px { padding: 10px }
.p\:15px { padding: 15px }
.p\:13px_20px { padding: 13px 20px }
.p\:20px_56px_0_0 { padding: 20px 56px 0 0 }
[dir=rtl] .p\:20px_56px_0_0 { padding: 20px 0 0 56px }
.pt\:50px { padding-top: 50px }
.pt\:120\% { padding-top: 120% }
.pr\:15px { padding-right: 15px }
[dir=rtl] .pr\:15px { padding-left: 15px }
.pr\:56px { padding-right: 56px }
[dir=rtl] .pr\:56px { padding-left: 56px }
.pb\:50px { padding-bottom: 50px }
.pl\:15px { padding-left: 15px }
[dir=rtl] .pl\:15px { padding-right: 15px }
.pos\:relative\! { position: relative !important }
.pos\:relative { position: relative }
.pos\:absolute { position: absolute }
.td\:none { text-decoration: none }
.td\:none\! { text-decoration: none !important }
.tt\:uppercase { text-transform: uppercase }
.group\*:hover .trf\:scale\(1\.1\)_rotate\(2deg\)\*group-hover { transform: scale(1.1) rotate(2deg) }
.group\*:hover [dir=rtl] .trf\:scale\(1\.1\)_rotate\(2deg\)\*group-hover { transform: scale(1.1) rotate(-2deg) }
.trs\:0\.3s { transition: 0.3s }
.trs\:0\.5s { transition: 0.5s }
.w\:100\% { width: 100% }
.w\:46px { width: 46px }
.w\:40px { width: 40px }
.z\:1 { z-index: 1 }
.z\:9 { z-index: 9 }
.r\:0 { right: 0 }
[dir=rtl] .r\:0 { left: 0 }
@media (max-width:400px) { 
.c\:blue\@\+400px\! { color: blue !important } }
@media (min-width:768px) { 
.c\:green\@sm { color: green }
.p\:20px\@sm { padding: 20px }
.w\:50\%\@sm { width: 50% } }
@media (min-width:992px) { 
.p\:30px\@md { padding: 30px }
.w\:33\.33\%\@md { width: 33.33% } }
@media (min-width:1200px) { 
.w\:25\%\@lg { width: 25% }
.w\:33\.33\%\@lg { width: 33.33% } }